.teamSelector {
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-md);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
  }
}
.teamWrapper {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-md);
}
.teamAvatar {
  flex-shrink: 0;
}
.teamInfo {
  flex-grow: 1;
  overflow: hidden;
}
.teamWrapper svg {
  flex-shrink: 0;
}
.teamInfo span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
